<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>資格登録変更画面</title>
</head>

<body>
	<div layout:fragment="content">
		<form th:object="${qualificationForm}">
			<div th:each="item:	${message}">
				<label th:text="${item}" ></label>
			</div>
			資格ID<input type="text" th:field="*{qualificationId}" th:value="${qualificationId}" th:disabled="*{editMode == 1}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{qualificationId}"></div><br>
			資格名<input type="text" th:field="*{qualificationName}" th:value="${qualificationName}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{qualificationName}"></div><br>
			<input type="text" th:field="*{qualificationId} "th:value="${qualificationId}" hidden>
			<input type="text" th:field="*{qualificationName} "th:value="${qualificationName}" hidden>
			<input type="text" th:field="*{editMode} "th:value="${editMode}" hidden>
			<input type="submit" formmethod="get" formaction="/qualification/search" value="戻る">
			<input type="submit" formmethod="post" formaction="/qualification/confirmation" value="入力確認">
		</form>
	</div>
</body>


</html>