<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>資格登録内容確認画面</title>
</head>

<body>
	<div layout:fragment="content">
		<form th:object="${qualificationForm}">
			資格ID <label th:text="*{qualificationId}" ></label><br>
			資格名 <label th:text="*{qualificationName}" ></label><br>
			<input type="text" th:field="*{qualificationId} "th:value="${qualificationId}" hidden>
			<input type="text" th:field="*{qualificationName} "th:value="${qualificationName}" hidden>
			<input type="text" th:field="*{editMode} "th:value="${editMode}" hidden>
			<input type="submit" formmethod="post" formaction="/qualification/register" value="戻る"
				onclick="undisabled()">
			<input type="submit" formmethod="post" formaction="/qualification/execution" value="登録"
				onclick="undisabled()">
		</form>
	</div>
</body>


</html>