<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>qualificationSearch</title>
</head>

<body>
	<h1>ユーザー管理システム</h1>
	<form method="post">
		<button type="submit" formaction="qualification/register">新規作成</button>
	</form>
	<form method="post" action="/qualification/search" th:object="${qualificationForm}">
		資格ID<input type="text" th:field="*{qualificationId}" th:errorclass="is-invalid">
		資格名<input type="text" th:field="*{qualificationName}" th:errorclass="is-invalid">
		<div class="invalid-feedback" th:errors="*{qualificationId}"></div>

		<input type="submit" value="検索">
	</form>
	検索結果
	<form method="post">
		<button type="submit" formaction="qualification/update">変更</button>
		<button type="submit" formaction="qualification/delete">削除</button>
		<div>
			<table border="1">
				<thead>
					<th>選択</th>
					<th>資格ID</th>
					<th>資格名</th>
				</thead>
				<tbody>
					<tr th:each="item: ${qualificationList}">
						<td><input type="radio" name="level" value="${item.qualificationId}"></td>
						<td th:text="${item.qualificationId}"></td>
						<td th:text="${item.qualificationName}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<form method="post" th:action="@{/menu}">
		<button type="submit" formaction="/menu">戻る</button>
	</form>

</body>

</html>