<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ユーザー登録内容確認画面</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:object="${userForm}">
		    <div th:if="*{editMode} != 0">
			    ユーザーID <label th:text="*{userId}" ></label><br>
            </div>  
			ユーザー名 <label th:text="*{userName}" ></label><br>
            <div th:if="*{qualificationIds} != null">
                資格一覧
                <div>
                    <table>
                        <thead>
                            <th>資格ID</th>
                            <th>資格名</th>
                        </thead>
                        <tbody>
                            <tr th:each="item: ${qualificationList}">
                                <td th:text="${item.qualificationId}"></td>
                                <td th:text="${item.qualificationName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><br>
            
			<input type="hidden" th:field="*{editMode}" th:value="${editMode}">
			<input type="hidden" th:field="*{userId}" th:value="${userId}">
			<input type="hidden" th:field="*{userName}" th:value="${userName}">
			<input type="hidden" th:field="*{qualificationIds}" th:value="${qualificationIds}">
			<input type="submit" formmethod="get" formaction="/user/register" value="戻る">
			<input type="submit" formmethod="post" formaction="/user/execution" value="登録">
		</form>
	</div>
</body>
</html>