<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>userSearch</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="post" action="/user/search" th:object="${userForm}">
			ユーザーID<input type="text" th:field="*{userId}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{userId}"></div>
			<input type="submit" value="検索">
		</form>
		一覧
		<div>
			<table>
				<thead>			
					<th></th>
					<th>ユーザーID</th>
					<th>ユーザー名</th>
				</thead>
				<tbody>
					<tr th:each="item: ${userList}">				
						<td></td>
						<td th:text="${item.userId}"></td>
						<td th:text="${item.userName}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>