<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ユーザー検索画面</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="get" action="/user/register">
			<input type="submit" value="新規作成">
		</form>
		<form method="post" action="/user/search" th:object="${userForm}">
			ユーザーID<input type="text" th:field="*{userId}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{userId}"></div><br>
			ユーザー名<input type="text" th:field="*{userName}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{userName}"></div><br>
			<input type="submit" value="検索">
		</form>
		<div th:if="${userList} != null">
			一覧
			<div>
				<form th:object="${userForm}">
					<input value="変更" type="submit" formmethod="post" formaction="/user/update">
					<input value="削除" type="submit" formmethod="post" formaction="/user/delete">
					<table>
						<thead>			
							<th></th>
							<th>ユーザーID</th>
							<th>ユーザー名</th>
						</thead>
						<tbody>
							<tr th:each="item: ${userList}">				
								<td><input type="radio" name="userId" th:field="*{userId}" th:value="${item.userId}"></td>
								<td th:text="${item.userId}"></td>
								<td th:text="${item.userName}"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<form method="get" action="/menu">
			<input type="submit" value="戻る">
		</form>
	</div>
</body>
</html>