<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.UserMapper">
	<select id="findUser" resultType="UserModel">
		SELECT
			ROW_NUMBER() OVER(ORDER BY USER_ID ASC) AS No,
			MST_USER.*
		FROM
			MST_USER
		<where>
			<if test="userId != null and userId != '' ">
				USER_ID = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND USER_NAME = #{userName}
			</if>
		</where>
	</select>
	
	<insert id="insertUser">
		INSERT INTO MST_USER(
		    USER_ID
		    , USER_NAME
		    , CREATE_DATE
		    , UPDATE_DATE
		) VALUES(
			#{userId}
			, #{userName}
			,now()
			,now()
		)
	</insert>
	
	<update id="updateUser">
		UPDATE  MST_USER
		SET
			<if test="userName != null and userName != ''">
				USER_NAME = #{userName},
			</if>
			UPDATE_DATE = now()
		WHERE   
			USER_ID = #{userId}
	</update>
	
	<delete id="deleteUser">
		DELETE
	    FROM 
			MST_USER 
		WHERE 
			MST_USER.USER_ID = #{userId}
	</delete>

</mapper>